<settings version="2">
    <setting id="searchHistory" default="true">false</setting>
    <setting id="general.hideSpecials" default="true">true</setting>
    <setting id="general.hideUnAired" default="true">true</setting>
    <setting id="general.hideWatched" default="true">false</setting>
    <setting id="general.genres.endpoint.movies" default="true">1</setting>
    <setting id="general.genres.endpoint.tv" default="true">1</setting>
    <setting id="general.widget.hide_next" default="true">false</setting>
    <setting id="general.flatten.episodes" default="true">false</setting>
    <setting id="general.showRemainingUnwatched" default="true">false</setting>
    <setting id="general.appendepisodegeneral" default="true">0</setting>
    <setting id="general.appendtitles" default="true">3</setting>
    <setting id="nextup.sort" default="true">0</setting>
    <setting id="general.sortcollection" default="true">0</setting>
    <setting id="general.watchlist.sort" default="true">0</setting>
    <setting id="general.paginatetraktlists" default="true">true</setting>
    <setting id="general.paginatecollection" default="true">true</setting>
    <setting id="general.appendListTitles" default="true">1</setting>
    <setting id="general.datedelay" default="true">false</setting>
    <setting id="item.limit" default="true">20</setting>
    <setting id="limit.nextup" default="true">true</setting>
    <setting id="general.disableNotificationSound" default="true">false</setting>
    <setting id="download.location" default="true" />
    <setting id="tvdb.jw">eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NTE1ODc3OTcsImlkIjoiIiwib3JpZ19pYXQiOjE3NTA5ODI5OTd9.HIKYGQUKO03gzHmUhG_8DC2l87CfTPTi13HzB1edMxaW9ltRgvz1Fc3NFfxkJ2jJct42tbLFw5xhQDq9iLFIBjl07hz8Yf1QfLCGY023ArJ0EX4eyt7jdR1bHAsrEVmLSraOSRLYc-qu5Nvegbm056aGmuPpKvsDhLYD3GBTT_VK7x0Q3HypN3CJQi6EnTCee3DLDKkCtTbFL87eJ9xU16gJG1jvuy1BRGeeCbm_hdI1DuGprDNRw86Ai0Ho7fset7YdjHuuQeZZ-93oePhINxrrzqWGCMW4Pe9aiT1o54g7dfJtp1LWmmnXu88I8AA2cLFB9gy97-ri1RvawjctgA</setting>
    <setting id="tvdb.expiry">1751069397.7550733</setting>
    <setting id="trakt.auth" default="true" />
    <setting id="trakt.refresh" default="true" />
    <setting id="trakt.expires" default="true">0</setting>
    <setting id="rd.auth" default="true" />
    <setting id="rd.refresh" default="true" />
    <setting id="rd.client_id" default="true" />
    <setting id="rd.expiry" default="true">0</setting>
    <setting id="rd.secret" default="true" />
    <setting id="premiumize.token" default="true" />
    <setting id="general.textColor" default="true" />
    <setting id="alldebrid.apikey" default="true" />
    <setting id="general.trakt.failure.timeout" default="true">0</setting>
    <setting id="update.news.version">2.2.0</setting>
    <setting id="seren.version">3.0.65</setting>
    <setting id="general.displayColor" default="true">None</setting>
    <setting id="skin.updateAutomatic" default="true">true</setting>
    <setting id="skin.active" default="true">Seren Default</setting>
    <setting id="general.metalocation" default="true">1</setting>
    <setting id="general.meta.showoriginaltitle" default="true">false</setting>
    <setting id="general.meta.studiolimit" default="true">true</setting>
    <setting id="movies.language_based_releases" default="true">true</setting>
    <setting id="omdb.apikey" default="true" />
    <setting id="general.fanart.fallback" default="true">false</setting>
    <setting id="artwork.preferredsize" default="true">1</setting>
    <setting id="fanart.apikey" default="true" />
    <setting id="movies.preferedsource" default="true">1</setting>
    <setting id="movie.artwork.advanced" default="true">false</setting>
    <setting id="movies.poster_limit" default="true">1</setting>
    <setting id="movies.fanart_limit" default="true">1</setting>
    <setting id="movies.banner" default="true">true</setting>
    <setting id="movies.landscape" default="true">true</setting>
    <setting id="movies.keyart_limit" default="true">0</setting>
    <setting id="movies.clearlogo" default="true">true</setting>
    <setting id="movies.clearart" default="true">true</setting>
    <setting id="movies.discart" default="true">true</setting>
    <setting id="movies.characterart_limit" default="true">0</setting>
    <setting id="tvshows.preferedsource" default="true">1</setting>
    <setting id="tv.artwork.advanced" default="true">false</setting>
    <setting id="tvshows.poster_limit" default="true">1</setting>
    <setting id="tvshows.fanart_limit" default="true">1</setting>
    <setting id="tvshows.banner" default="true">true</setting>
    <setting id="tvshows.landscape" default="true">true</setting>
    <setting id="tvshows.keyart_limit" default="true">0</setting>
    <setting id="tvshows.clearlogo" default="true">true</setting>
    <setting id="tvshows.clearart" default="true">true</setting>
    <setting id="tvshows.characterart_limit" default="true">0</setting>
    <setting id="season.poster" default="true">true</setting>
    <setting id="season.banner" default="true">true</setting>
    <setting id="season.landscape" default="true">true</setting>
    <setting id="season.fanart" default="true">true</setting>
    <setting id="episode.fanart" default="true">true</setting>
    <setting id="general.accountNotifications" default="true">true</setting>
    <setting id="trakt.username" default="true" />
    <setting id="trakt.scrobbling" default="true">true</setting>
    <setting id="trakt.ignoreSecondsAtStart" default="true">180</setting>
    <setting id="trakt.playCountMinimumPercent" default="true">80</setting>
    <setting id="premiumize.enabled" default="true">false</setting>
    <setting id="premiumize.username" default="true" />
    <setting id="premiumize.premiumstatus" default="true" />
    <setting id="premiumize.torrents" default="true">true</setting>
    <setting id="premiumize.hosters" default="true">false</setting>
    <setting id="premiumize.transcoded" default="true">false</setting>
    <setting id="premiumize.addToCloud" default="true">false</setting>
    <setting id="premiumize.autodelete" default="true">true</setting>
    <setting id="premiumize.threshold" default="true">750</setting>
    <setting id="realdebrid.enabled" default="true">false</setting>
    <setting id="rd.username" default="true" />
    <setting id="rd.premiumstatus" default="true" />
    <setting id="rd.torrents" default="true">true</setting>
    <setting id="rd.hosters" default="true">false</setting>
    <setting id="rd.autodelete" default="true">true</setting>
    <setting id="alldebrid.enabled" default="true">false</setting>
    <setting id="alldebrid.username" default="true" />
    <setting id="alldebrid.premiumstatus" default="true" />
    <setting id="alldebrid.torrents" default="true">true</setting>
    <setting id="alldebrid.hosters" default="true">false</setting>
    <setting id="alldebrid.autodelete" default="true">true</setting>
    <setting id="providers.autoupdates" default="true">true</setting>
    <setting id="general.scrapedisplay" default="true">0</setting>
    <setting id="general.resolverHide" default="true">false</setting>
    <setting id="general.torrentCache" default="true">true</setting>
    <setting id="general.timeout">50</setting>
    <setting id="premiumize.cloudInspection" default="true">true</setting>
    <setting id="rd.cloudInspection" default="true">true</setting>
    <setting id="alldebrid.cloudInspection" default="true">true</setting>
    <setting id="general.autocache" default="true">true</setting>
    <setting id="general.cacheAssistMode" default="true">0</setting>
    <setting id="general.cachelocation" default="true">0</setting>
    <setting id="preem.enabled" default="true">true</setting>
    <setting id="preem.movieres" default="true">0</setting>
    <setting id="preem.tvres" default="true">1</setting>
    <setting id="preem.limit" default="true">5</setting>
    <setting id="preem.type" default="true">0</setting>
    <setting id="preem.waitfor.cloudfiles" default="true">false</setting>
    <setting id="preem.cloudfiles" default="true">true</setting>
    <setting id="preem.adaptiveSources" default="true">true</setting>
    <setting id="preem.directSources" default="true">true</setting>
    <setting id="general.maxResolution" default="true">0</setting>
    <setting id="general.minResolution" default="true">3</setting>
    <setting id="general.enablesizelimit" default="true">0</setting>
    <setting id="general.sizelimit.movie" default="true">10</setting>
    <setting id="general.sizelimit.episode" default="true">10</setting>
    <setting id="general.sizeminimum.movie" default="true">0</setting>
    <setting id="general.sizeminimum.episode" default="true">0</setting>
    <setting id="general.speedlimit" default="true">10</setting>
    <setting id="general.speedminimum" default="true">0</setting>
    <setting id="general.filters" default="true">3D,AV1</setting>
    <setting id="general.lastreleasenamepriority" default="true">true</setting>
    <setting id="general.sortmethod.1" default="true">2</setting>
    <setting id="general.sortmethod.1.reverse" default="true">false</setting>
    <setting id="general.sortmethod.2" default="true">1</setting>
    <setting id="general.sortmethod.2.reverse" default="true">false</setting>
    <setting id="general.sortmethod.3" default="true">4</setting>
    <setting id="general.sortmethod.3.reverse" default="true">false</setting>
    <setting id="general.sortmethod.4" default="true">0</setting>
    <setting id="general.sortmethod.4.reverse" default="true">false</setting>
    <setting id="general.sortmethod.5" default="true">0</setting>
    <setting id="general.sortmethod.5.reverse" default="true">false</setting>
    <setting id="general.sortmethod.6" default="true">0</setting>
    <setting id="general.sortmethod.6.reverse" default="true">false</setting>
    <setting id="general.sortmethod.7" default="true">0</setting>
    <setting id="general.sortmethod.7.reverse" default="true">false</setting>
    <setting id="general.sortmethod.8" default="true">0</setting>
    <setting id="general.sortmethod.8.reverse" default="true">false</setting>
    <setting id="general.sourcetypesort.1" default="true">1</setting>
    <setting id="general.sourcetypesort.2" default="true">0</setting>
    <setting id="general.sourcetypesort.3" default="true">0</setting>
    <setting id="general.sourcetypesort.4" default="true">0</setting>
    <setting id="general.sourcetypesort.5" default="true">0</setting>
    <setting id="general.hdrsort.1" default="true">2</setting>
    <setting id="general.hdrsort.2" default="true">0</setting>
    <setting id="general.debridsort.1" default="true">1</setting>
    <setting id="general.debridsort.2" default="true">0</setting>
    <setting id="general.debridsort.3" default="true">0</setting>
    <setting id="general.playstyleMovie">1</setting>
    <setting id="general.playstyleEpisodes" default="true">0</setting>
    <setting id="smartplay.clickresume" default="true">false</setting>
    <setting id="general.bookmarkstyle" default="true">0</setting>
    <setting id="general.autotrynext" default="true">true</setting>
    <setting id="general.resolvefailurehandling" default="true">1</setting>
    <setting id="smartplay.playlistcreate" default="true">true</setting>
    <setting id="smartPlay.preScrape" default="true">true</setting>
    <setting id="smartplay.displaystyle" default="true">0</setting>
    <setting id="smartplay.playingnextdialog" default="true">true</setting>
    <setting id="playingnext.percent" default="true">95</setting>
    <setting id="playingnext.time" default="true">30</setting>
    <setting id="playingnext.chapters" default="true">true</setting>
    <setting id="playingnext.defaultaction" default="true">0</setting>
    <setting id="smartplay.stillwatching" default="true">false</setting>
    <setting id="stillwatching.numepisodes" default="true">3</setting>
    <setting id="general.menucaching" default="true">true</setting>
    <setting id="general.force.widget.refresh.playback" default="true">false</setting>
    <setting id="skin.testmenu" default="true">false</setting>
    <setting id="general.setViews" default="true">false</setting>
    <setting id="general.viewidswitch" default="true">false</setting>
    <setting id="addon.view" default="true">0</setting>
    <setting id="addon.view.id" default="true">0</setting>
    <setting id="movie.view" default="true">0</setting>
    <setting id="movie.view.id" default="true">0</setting>
    <setting id="show.view" default="true">0</setting>
    <setting id="show.view.id" default="true">0</setting>
    <setting id="episode.view" default="true">0</setting>
    <setting id="episode.view.id" default="true">0</setting>
    <setting id="season.view" default="true">0</setting>
    <setting id="season.view.id" default="true">0</setting>
    <setting id="tmdb.apikey" default="true" />
    <setting id="tvdb.apikey" default="true" />
    <setting id="trakt.clientid" default="true" />
    <setting id="trakt.secret" default="true" />
    <setting id="general.localtimezone">America/New_York</setting>
    <setting id="general.manualtimezone" default="true">false</setting>
    <setting id="general.threadpoolScale" default="true">1</setting>
    <setting id="reuselanguageinvoker.status" default="true">Disabled</setting>
</settings>
