<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="reorderingMethod" label="Reordering Method" type="enum" default="0"
                 values="Swap A and B|Insert A before B|Insert A after B"/>
        <setting id="fontSize" label="Font Size" type="enum" default="0"
                 values="Small|Medium|Large"/>
        <setting id="thumbSize" label="Thumnbail Size" type="enum" default="1"
                 values="Small|Large"/>
    </category>
</settings>
