<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		
		
		<setting id="theme" type="enum" label="32205" values="Funsterbe|Keshav|Shinobi|Sonic|Bob"  default="0" />
		
		<setting id="save_time"  type="number"  label="32213" visible="true" default="72"/>

		<setting id="rd.auth" type="text" default="" visible="hidden" />
		<setting id="rd.refresh" type="text" default="" visible="hidden" />
		<setting id="rd.client_id" type="text" default="" visible="hidden" />
		<setting id="rd.expiry" type="text" default="0" visible="hidden"/>
		<setting id="rd.secret" type="text" default="" visible="hidden" />
		<setting id="ghaddr" type="text" default="" visible="hidden" />
		<setting id="premiumize.token" type="text" default="" visible="false" />
		<setting id="alldebrid.token" type="text" default="" visible="false" />
		<setting id="alldebrid.username" type="text" default="" visible="false" />
		

	</category>
	
	<category label="$ADDON[plugin.video.shadow 32027]">
		<setting id="s_traker_style" label="32311" type="bool"  default="false" />
		<setting id="show_over" label="32312" type="bool"  default="false" />
		<setting id="time_to_save" label="32214" type="number" default="75" />
		<setting label="32218" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=147&url=www)" />
		<setting label="32219" option="close" type="action"   action="RunPlugin(plugin://plugin.video.shadow?mode=157&url=False)"/>
		<setting label="trakt access token" id="trakt_access_token" type="text" visible="false" />
		<setting label="trakt refresh token" id="trakt_refresh_token" type="text" visible="false" />
		<setting label="trakt refresh token" id="trakt_expires_at" type="text" visible="false" />
		
	</category>
	
	
	<category label="32231">
		<setting id="debrid_use" label="32232" type="bool"  default="true" />
		<setting id="debrid_select" type="enum" label="32233" values="Real-Debrid|Premiumize|ALL-Debrid"  default="0" />
		<setting label="32234" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=137&url=www)" visible="eq(-1,0)"/>
		<setting label="32235" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=138&url=www)" visible="eq(-2,0)"/>
		
		<setting label="32236" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=139&url=www)" visible="eq(-3,1)"/>
		<setting label="32237" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=140&url=www)" visible="eq(-4,1)"/>
		
		<setting id="premiumize.addToCloud" type="bool" subsetting="true" label="Store resolved items in cloud" default="false" visible="eq(-5,1)" />
		<setting id="premiumize.transcoded" type="bool" subsetting="true" label="Prefer Transcoded Files" default="false" visible="eq(-6,1)" />
		
		<setting label="32239" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=141&url=www)" visible="eq(-7,2)"/>
		<setting label="32240" option="close" type="action" action="RunPlugin(plugin://plugin.video.shadow?mode=142&url=www)" visible="eq(-8,2)"/>
		
	</category>
	
	
	<category label="32247">
		<setting id="trakt_manager" label="32304" type="bool"  default="true" />
		<setting id="trakt_watched" label="32164" type="bool"  default="true" />
		<setting id="trakt_unwatched" label="32165" type="bool"  default="true" />
		<setting id="clear_Cache" label="32176" type="bool"  default="true" />
		
	</category>
	
	<category label="Extrenal Addons">
		<setting type="lsep" label="[COLOR dodgerblue]Open-scrapers (if grayed out you will need to install it)[/COLOR]" />
		
		<setting id="openscrapers" label="Open-scrapers" type="bool"  default="false" enable="System.HasAddon(script.module.openscrapers)"/>
		<setting id="open.settings" type="action" label="Open-scrapers Settings" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=OpenscrapersSettings&amp;opensettings=true&amp;query=4.1)" visible="eq(-1,true)" />
		<setting id="open.settings_resolveurl" type="action" label="Resolveurl Settings" option="close" action="RunPlugin(plugin://plugin.video.shadow?mode=180&url=tv&name=disable)" />

		<setting type="lsep" label="[COLOR dodgerblue]Universal-scrapers (if grayed out you will need to install it)[/COLOR]" />
		<setting id="universal" label="Universal-scrapers" type="bool"  default="false"  enable="System.HasAddon(script.module.universalscrapers)"/>
		<setting id="universal.settings" type="action" label="Universal-scrapers Settings" option="close" action="RunPlugin(plugin://script.module.universalscrapers/?action=universalscrapersSettings&amp;opensettings=true&amp;query=4.1)" visible="eq(-1,true)" />
			
	</category>
	<category label="Debug">
		<setting id="debug" label="debug" type="bool"  default="false" />
		<setting id="check_time" label="check_time" type="bool"  default="false" />
		<setting id="stop_where" type="enum" label="stop_where" values="0|1|2|3|4|5|6|7|8|9"  default="0" />
		<setting id="unfilter_test" type="text" label="Test" default="" />
		<setting id="one_by_one" label="check servers one by one" type="bool"  default="false" />
	</category>

	<category label="Subtitles">
		
        
        <setting id="subtitles" type="bool" label="Enable subtitles" default="false" />
        <setting type="sep" />
        <setting id="subtitles.utf" type="bool" label="Convert subtitles to UTF-8" enable="!eq(-2,false)" default="false" />
        <setting type="sep" />
        <setting id="subtitles.lang.1" type="select" label="Primary Language" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-4,false)" default="English" />
        <setting id="subtitles.lang.2" type="select" label="Secondary Language" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-5,false)" default="English" />
       
		<setting id="auto_subtitles" type="bool" label="Auto download first subtitles" default="true" enable="!eq(-6,false)"/>
		<setting id="subs_window" label="Time to display the window (in secs)" type="number" default="30" enable="!eq(-7,false)"/>
		<setting id="subs_width" label="Window width" type="number" default="400" enable="!eq(-8,false)"/>
		<setting id="subs_hight" label="Window hight" type="number" default="700" enable="!eq(-9,false)"/>
		<setting id="subs_px" label="Location X" type="number" default="10" enable="!eq(-10,false)"/>
		<setting id="subs_py" label="Location Y" type="number" default="10" enable="!eq(-11,false)"/>
    </category>
	
	
</settings>
